.product {
  width: 400px;
  height: 450px;
  border: 2px solid rgb(7, 7, 7) ;
  border-radius: 10px;
  box-shadow: black 15px 15px 15px;
  font-weight: bold;
  color: #2e22b3;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.product-list {
  width:100%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-column-gap: 3%;
    grid-row-gap: 3%;
    margin-left: 3%;
    margin-top: 3%;
}
p, h2 {
  margin: 3px;
  }
h3 {
  margin-left: 80px;
  margin-top: 5px;
}
.button-add-remove {
  border-radius: 5px;
  background-color: red;
  color: white;
  border: 2px solid;
  margin-left: 10px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 3px 3px 3px rgb(191, 4, 4);
}
.button-buy {
  border-radius: 5px;
  background-color: rgb(30, 227, 86);
  color: white;
  border: 2px solid;
  margin-left: 10px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 3px 3px 3px rgb(5, 158, 20);
  width: 75px;
}
.header {
  background-color: #2e22b3;
  width: 100%;
  height: 9%;
  position: fixed;
  top: 0px;
  opacity: 0.9;
  background-image: url("C:\Users\USER\Desktop\myproject3\myproject3\public\image\relq.png");
  background-repeat: no-repeat;
  background-size: 68px 68px;
  color: #060606;
  text-shadow: 1px 1px 1px white;
}

li {
display: inline;
padding-left: 3%;
font-size: 20px;
}

.header ul {
  margin-left: 150px;
  margin-top: -65px;
}
a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

.containerheader {
  color: rgb(235, 227, 227);
  font-family: wide latin;   
  text-align: center; 
  text-shadow:  #2e22b3 7px 7px 3px;
  font-size: 30px;
  margin-top: 100px;
  margin-left: 20px;
} 
.footer {
  text-align: center;
  background-color: #2e22b3;
  width: 110%;
  position: fixed;
  bottom: 0px;
  opacity: 0.9;
}
.app {
  width: 100%;
  height: 900px;
}
.cart {
  text-align: right;
}
.logoheader {
  font-size: 50px;
  color: rgb(240, 233, 233);;
  text-align: center;
  font-family: wide latin;
  text-shadow:  #2e22b3 7px 7px 3px;
}
.basket {
  margin-left: 950px;
}
.basket p {
  margin-left: 1270px;
  margin-top: -45px;
  color: red;
  font-size: 20px;
}
.about {
  font-size: 25px;
  text-align: justify;
}
.about h2 {
  text-align: center;
}
.button-change {
  margin-left: 10px;
  width: 80px;
  height: 30px;
}
.total {
  text-align: right;
  color: red;
  font-size: 20px;
  font-weight: bolder;
}
.quantity {
  margin: 0px 8px -5px 370px;
  padding: 4px;
  color: white;
  background-color: red;
  border-radius: 15px;
  font-weight: 100;
  font-size: 12px;
  text-align: center;
}
.mainpage {
  width:100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 1%;
    grid-row-gap: 1%;
    margin-left: 2%;
}